* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #3498db;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.nav__links {
    display: flex;
    gap: 20px;
}

.button {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: white;
    color: #3498db;
}

#registroForm {
    width: 400px;
    background: #2c3e50;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
    position: relative;
    text-align: center;
}

#registroForm h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    color: white;
}

#registroForm label {
    color: white;
}

#registroForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid #1f53c5;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
}

#registroForm p {
    color: white;
    margin-top: 10px;
}

#registroForm a {
    color: #3498db;
}

#registroForm input[type="submit"] {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

#registroForm:before {
    content: "";
    background: url('tu-imagen-de-fondo.jpg') center/cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: 'YourFont', sans-serif; 
    color: white;
    text-align: center;
}
